body {
    background-image: url(/construction/img/starbackground.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    animation: slide 40s linear infinite;
}
nav {
    background-color: #333131;
}
a {
    text-decoration: none;
    color: #EBEBE3;
}
a:hover {
    color: #ff0505;
}
.cat {
    padding-top: 10px;
}
footer {
    background-color: #333131;
}
.logoexp {
    color: #ff0505;
}
.para {
    text-align: center;
}
a {
    font-family: 'Michroma', sans-serif;
}
h1 {
    font-family: 'Michroma', sans-serif;
}

h2 {
    font-family: 'Michroma', sans-serif;
    color: #fff;
}

h3 {
    font-family: 'Michroma', sans-serif;
    color: #C3ADAD;  
}

p {
    font-family: 'Jura', sans-serif;
    color: #af9b9b;
}

.rotate {
    animation: rotation 8s infinite;
  }

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg);
    }
    
    
  }

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 500px; }
}